.mortgage-calculator-container {
  margin: 3% 3%;
  text-align: left;
  max-width: 500px;
  width: 100%;

  .title {
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-bottom: 3%;
    color: #673ab7;
  }
}
